@font-face {
  font-family: "Gilroy-UltraLight";

  src: local("Gilroy-UltraLight"),
    url("fonts/Gilroy-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Light";

  src: local("Gilroy-Light"), url("fonts/Gilroy-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Thin";

  src: local("Gilroy-Thin"), url("fonts/Gilroy-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Heavy";

  src: local("Gilroy-Heavy"), url("fonts/Gilroy-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Regular";

  src: local("Gilroy-Regular"),
    url("fonts/Gilroy-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";

  src: local("Gilroy-Medium"),
    url("fonts/Gilroy-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";

  src: local("Gilroy-Semibold"),
    url("fonts/Gilroy-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Bold";

  src: local("Gilroy-Bold"), url("fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Extrabold";

  src: local("Gilroy-Bold"),
    url("fonts/Gilroy-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter-Medium";

  src: url("fonts/Inter-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  font-family: "Gilroy-ExtraBold";
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  background-color: #f2f7ff;
}
main {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.header .link-logo {
  text-decoration: none;
}

.header .head {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .head .logo {
  width: 55px;
  height: 42px;
}

.header .head .logo-text {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 28.1106px;
  line-height: 21px;
  color: #1d2530;
}

.header .links ul {
  display: flex;
  align-items: center;
  gap: 63px;
  list-style: none;
  flex-wrap: wrap;
}

.header .links ul li a {
  text-decoration: none;
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1d2530;
}

.header .links ul li .active {
  color: #685ed6;
  font-family: "Gilroy-bold";
}

.header .links ul li a:hover {
  /* font-family: "Gilroy-Regular"; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #685ed6;
  transition: background 0.3s ease-in-out;
}

.btn-log {
  display: flex;
  justify-content: center;
  gap: 12px !important;
}

.enter-btn {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #685ed6;
  background: #f1e4ff;
  border-radius: 6px;
  padding: 10px 20px;
  border-color: transparent;
  cursor: pointer;
}

.enter-btn:hover {
  background: #c39bfb;
  transition: background 0.3s ease-in-out;
}

.register-btn {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  border-radius: 6px;
  border-color: transparent;
  cursor: pointer;
}

.register-btn:hover {
  background: #33afe1;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.login {
  width: 480px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  z-index: 99999;
  position: relative;
  padding: 105px 70px 140px 70px;
  margin: 10px auto;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -90%);
}

.register {
  width: 480px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  z-index: 99999;
  position: relative;
  padding: 105px 70px 140px 70px;
  margin: 0 auto;

   top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -70%)
}

.close-icon-login {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}


.close-icon-register {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.login_title {
  font-family: "Gilroy-ExtraBold";
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  color: #685ed6;
  margin-bottom: 32px;
}

.log-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.log-body input {
  font-family: "Gilroy-Regular";
  padding: 16px 20px;
  background: #f7f7fd;
  border-radius: 4px;
  font-size: 18px;
  border-color: transparent;
  width: 100%;
  height: 40px;
  height: 48px;
}

.log-body input:hover {
  border: 1px solid #e8e6f8;
  transition: background 0.3s ease-in-out;
}

.log-body input:focus {
  border: 1px solid #605dec !important;
  outline: none;
}

.error {
  border: 1px solid #f93232;
}

.log-btn {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  width: 100%;
  height: 48px;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border-color: transparent;
  color: white;
  margin-top: 32px;
  padding: 12px 32px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
}

.log-btn:hover {
  background: #33afe1;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

.home {
  display: flex;
  justify-content: space-between;
  min-height: 555px;
  position: relative;
  margin-top: 125px;
  margin-bottom: 60px;
}

.home .texts {
  max-width: 482px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home .texts h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  margin-bottom: 25px;
}

.home .texts h1 span {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  font-feature-settings: "salt" on, "liga" off;
  color: #685ed6;
}

.home .texts p {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #1d2530;
  margin-bottom: 32px;
}

.home .texts p span {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #685ed6;
}

.home .texts .home-btn {
  width: 168px;
  height: 48px;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding: 12px 32px;
  border-color: transparent;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  font-family: "Gilroy-Medium";
  cursor: pointer;
}

.home .texts .home-btn:hover {
  background: #33afe1;
  transition: background 0.3s ease-in-out;
}

.home img {
  height: 555px;
  max-height: 50vw;
  width: 690px;
  max-width: 62vw;
}

.home .blur-pink {
  position: absolute;
  top: auto;
  bottom: 12%;
  left: -8%;
  width: 189px;
  height: 142px;
  background: rgba(140, 48, 245, 0.4);
  transform: rotate(30deg);
  filter: blur(45px);
  z-index: 0;
  opacity: 0.6;
}
.home .blur-pink2 {
  position: absolute;
  top: auto;
  bottom: 8%;
  right: 0;
  width: 343px;
  height: 257px;
  background: rgba(140, 48, 245, 0.4);
  transform: rotate(30deg);
  filter: blur(60px);
  z-index: 0;
  opacity: 0.3;
}

.home .blur-green {
  position: absolute;
  top: 0;
  left: 65%;
  z-index: -1;
  width: 133px;
  height: 133px;
  background: #18e1f7;
  opacity: 0.6;
  filter: blur(45px);
}

/* ABOUT */

.about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 82px;
  padding-top: 70px;
}

.about_items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
  max-width: 540px;
}

.about_items h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  color: #1d2530;
}

.about_items .item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 26px;
}
.about_items .item img {
  width: 68px;
  height: 68px;
}

.about_items .item h3 {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  margin-bottom: 8px;
}

.about_items .item p {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
}

.about .about-background img {
  height: 666px;
  width: 411px;
}

/* Tariffs */

.tarrifs {
  padding: 100px 0 100px 0;
}
.tarrifs_title {
  text-align: center;
  margin-bottom: 40px;
}

.tarrifs_title h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  color: #1d2530;
}

.tarrifs_title p {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  margin-top: 16px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards .card {
  width: 350px;
  height: 387px;
  background: #fcfeff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  text-align: center;
}

.card:hover{
    transform: scale(1);
    transition: transform .2s;
}


.card .card_head {
  padding: 7px 0 7px 0;
  background: rgba(104, 94, 214, 0.05);
}

.card .card_head h2 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
  color: #685ed6;
}

.cards .card h1 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #1d2530;
  max-width: 255px;
  margin: 0 auto;
}

.cards .card p {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1d2530;
  margin-bottom: 46px;
  margin-top: 32px;
}

.card_body {
  padding-top: 29px;
  padding-bottom: 29px;
}

.card_body .tarrifs_btn {
  width: 287px;
  height: 48px;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border-color: transparent;
  color: white;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.card_body .tarrifs_btn:hover {
  background: #33afe1;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.14);
  transition: background 0.3s ease-in-out;
}

/* Connections */

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  flex-wrap: wrap;
  position: relative;
}

.connections h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  text-align: center;
  margin-bottom: 40px;
}
.first-step {
  max-width: 214px;
  text-align: center;
}

.steps_blur_green {
  position: absolute;
  top: auto;
  left: -3%;
  bottom: 20%;
  z-index: -1;
  width: 133px;
  height: 133px;
  background: #18e1f7;
  opacity: 0.6;
  filter: blur(45px);
}

.second-step {
  max-width: 300px;
  text-align: center;
  margin-top: 110px;
}

.scnd_blur_green {
  position: absolute;
  top: auto;
  left: 52%;
  bottom: 20%;
  z-index: -1;
  width: 140px;
  height: 133px;
  background: #18e1f7;
  opacity: 0.6;
  filter: blur(45px);
}

.scnd_blur_pink {
  position: absolute;
  top: auto;
  bottom: 40%;
  width: 250px;
  height: 142px;
  background: rgba(140, 48, 245, 0.4);
  transform: rotate(30deg);
  filter: blur(45px);
  z-index: -1;
  opacity: 0.6;
}

.thrd_blur_pink {
  position: absolute;
  top: auto;
  bottom: 25%;
  left: auto;
  right: 2%;
  width: 250px;
  height: 142px;
  background: rgba(140, 48, 245, 0.4);
  transform: rotate(30deg);
  filter: blur(45px);
  z-index: -1;
  opacity: 0.6;
}

.first-step h3,
.second-step h3 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  margin-bottom: 4px;
}

.first-step p,
.second-step p {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  margin-bottom: 56px;
}

.first_step_title img {
  margin-bottom: 16px;
}

.frst_screen {
  height: 471px;
  width: 236px;
}

.scnd_screen {
  height: 559px;
  width: 280px;
}

.thrd_screen {
  height: 461px;
  width: 232px;
}

/* REVIEW */

.review {
  position: relative;
  background: url(img/Quote_Mark.svg) right top no-repeat;
  margin-bottom: 100px;
}

.review h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 64px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
  text-align: center;
  margin-bottom: 48px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding: 32px 32px 32px 32px;
  max-width: 488px !important;
  max-height: 540px;
  margin-bottom: 28px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-slide h5 {
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
  margin-bottom: 28px;
}

.swiper-slide p {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}

.review_client {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.client_name {
  text-align: left;
}

.client_name h3 {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
}

.client_name a {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #1d2530;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #685ed6;
}

.join {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: url(img/join-background.png) no-repeat;
  background-size: cover;
  border-radius: 6px;
  max-height: 288px;
  margin-bottom: 90px;
}
.join .email {
  max-width: 445px;
}

.join .email h1 {
  font-family: "Gilroy-Extrabold";
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
  margin-bottom: 32px;
}

.email .send input {
  padding: 14px 16px;
  width: 248px;
  background: #f4f5f7;
  border-color: transparent;
  border-radius: 5px 0px 0px 5px;
}

.email .send input:focus {
  outline: none;
}

.send_btn {
  padding: 14px 24px;
  width: 120px;
  background: #18191f;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}

.send_btn:hover {
  background-color: #1d1d52;
  transition: background 0.3s ease-in-out;
}

.footer {
  background-color: #1d2530;
  display: flex;
  justify-content: space-between;
  padding: 104px 165px;
}

.foot_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 477px;
}

.foot_item h3 {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "salt" on, "liga" off;
  color: #f4f5f7;
  margin-bottom: 32px;
}
.foot_item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.foot_item ul > li a {
  text-decoration: none;
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #eeeff4;
}

.foot_item ul > li a:hover {
  color: #685ed6;
}
